---
const { videoId, videoTitle } = Astro.props

// Generate a unique ID for this instance to avoid conflicts
const playerId = `player-${videoId}`
---

<div class="video-container w-full max-w-[full] aspect-video relative">
  <div class="plyr__video-embed w-full h-full block" id={playerId}>
    <iframe
      src={`https://www.youtube.com/embed/${videoId}?modestbranding=1&playsinline=1`}
      allowfullscreen
      title={videoTitle}
      class="w-[300px] h-[300px] block"></iframe>
  </div>
</div>

<script client:load>
  import Plyr from "plyr"

  // Initialize Plyr on this unique ID
  new Plyr(`#${playerId}`, {
    youtube: {
      noCookie: true,
      modestBranding: true,
    },
    controls: [
      "play",
      "progress",
      "current-time",
      "mute",
      "volume",
      "fullscreen",
    ],
  })
</script>
