---
const {
  class: className,
  id: id,
  dialogActionButtons = [],
  dislikeMealButtonId,
  buttonText,
  href,
} = Astro.props
import Button from "../buttons/Button.astro"
---

<div class="flex gap-4 justify-center">
  {
    dialogActionButtons.length > 0 &&
      dialogActionButtons.map((dialogButton) => (
        <Button
          isDialogActionButton={true}
          isDeleteDialogButton={dialogButton.isDeleteDialogButton}
          id={dialogButton.id}
          dataAction={dialogButton.dataAction}
          href={dialogButton.href}
        >
          {dialogButton.buttonText}
        </Button>
      ))
  }
</div>
