---
import LikesCounter from "../likes/LikesCounter.astro"
import MealRatingContainer from "./MealRatingContainer.astro"
const {class: className, id: id, likeAmount, starsCount, mealRatingNumber, maximumRatingNumber} = Astro.props
---
<div class={`${className} likes-and-ratings-container flex items-center justify-between`} id={id}>
  <LikesCounter likeAmount={likeAmount} />
  <MealRatingContainer 
    starsCount={starsCount}
    mealRatingNumber={mealRatingNumber} 
    maximumRatingNumber={maximumRatingNumber} 
  />
</div>