---
import Card from "../cards/Card.astro"
import MealFilter from "../filters/MealFilter.astro"
const { class: className, id: id, mealsForPage = [] } = Astro.props

// Use the paginated meals passed as props
const mealsToDisplay = mealsForPage.length > 0 ? mealsForPage : []

console.log("Displaying meals:", mealsToDisplay.length)
---

<div class="mt-8">
  <MealFilter />
  <div
    class="meals-container w-full flex flex-wrap justify-center items-stretch py-10 gap-8 md:justify-between"
  >
    {
      mealsToDisplay.length > 0 ? (
        mealsToDisplay.map((mealCard) => (
          <Card
            isMealCard={true}
            isCardHeading={true}
            class={mealCard.class}
            id={mealCard.idMeal}
            src={mealCard.strMealThumb}
            headingText={mealCard.strMeal}
            paragraphText={mealCard.strArea}
            buttonText="See Recipe"
            href={`/meal/${mealCard.idMeal}`}
            data-meal-id={mealCard.idMeal}
          />
        ))
      ) : (
        <p>No meals found</p>
      )
    }
  </div>
</div>
