---
import Card from "../cards/Card.astro"
import MealFilter from "../filters/MealFilter.astro"
import Heading from "../headings/Heading.astro"
import Link from "../links/Link.astro"
import Overlay from "../../components/overlays/Overlay.astro"
import { resolveApiMealIdToInternalMealId } from "../../js/supabase/supabase_methods"

import { fetchCommentsCountForMeal } from "../../js/supabase/supabase_methods"
import MealCommentsCounter from "../counters/MealCommentsCounter.astro"

const {
  class: className,
  id: id,
  mealsForPage = [],
  mealId: apiMealId,
} = Astro.props

// Use the paginated meals passed as props
const mealsToDisplay = mealsForPage.length > 0 ? mealsForPage : []

// Resolve API meal ID to internal database meal ID
let internalMealId = null

try {
  internalMealId = await resolveApiMealIdToInternalMealId(apiMealId)
} catch (error) {
  console.log("Failed to resolve internal meal ID: ", error)
}

// Fetch comment comment count for all meals
const commentCounts = await fetchCommentsCountForMeal()
---

<div class="mt-8">
  <MealFilter />

  <div
    class="meals-container w-full grid grid-cols-[repeat(auto-fill,_minmax(200px,_1fr))] py-10 gap-8 md:justify-between"
  >
    {
      mealsToDisplay.length > 0 ? (
        mealsToDisplay.map((mealCard) => {
          const commentCount = commentCounts?.[mealCard.idMeal] ?? 0

          return (
            <Card
              key={mealCard.idMeal}
              variant="meal"
              data-meal-api-id={mealCard.idMeal}
            >
              {commentCount > 0 && (
                <MealCommentsCounter
                  class="absolute -top-4 -right-2"
                  data-meal-comment-counter
                >
                  <div class="grid place-items-center">
                    <i class="fas fa-comment text-3xl text-(--secondary-text-color)" />
                    <span class="absolute inset-0 grid place-items-center text-sm font-semibold text-white">
                      {commentCount}
                    </span>
                  </div>
                </MealCommentsCounter>
              )}

              <img
                src={mealCard.strMealThumb}
                class="rounded-md"
                alt={mealCard.strMeal}
              />

              <Heading variant="meal_card" name="title">
                {mealCard.strMeal}
              </Heading>

              <Link href={`/meals/${mealCard.idMeal}`} variant="meal_card_link">
                See Recipe
              </Link>
            </Card>
          )
        })
      ) : (
        <p>No meals found</p>
      )
    }
  </div>
</div>

<script>
  import { supabaseClient } from "../../js/supabase/supabase_client"
  import { fetchMealIdMap } from "../../js/supabase/supabase_methods"

  const mealCommentCountersMap = new Map()

  const mealDataIds = document.querySelectorAll("[data-meal-id]")

  mealDataIds.forEach((card) => {
    const mealId = card.dataset.mealId
    const mealCommentCounterMap = card.querySelector(
      "[data-comment-counter] span",
    )

    if (mealCommentCounterMap) {
      mealCommentCountersMap.set(mealId, mealCommentCountersMap)
    }
  })

  // Set up realtime
  supabaseClient
    .channel("comments-realtime")
    .on(
      "postgres_changes",
      {
        event: "*",
        schema: "public",
        table: "comments",
      },
      async (payload) => {
        const { eventType } = payload

        const internalMealId =
          eventType === "DELETE" ? payload.old.meal_id : payload.new.meal_id

        const { data } = await supabaseClient
          .from("meals")
          .select("api_meal_id")
          .eq("id", internalMealId)
          .single()

        if (!data?.api_meal_id) {
          return
        }

        const counterElement = mealCommentCountersMap.get(data.api_meal_id)
        if (!counterElement) {
          return
        }

        let count = Number(counterElement.textContent || 0)
        if (!count) {
          return
        }

        if (eventType === "INSERT") {
          count++
        }
        if (eventType === "DELETE") {
          count = Math.max(count - 1, 0)
        }
      },
    )
    .subscribe()
</script>
