---
import Card from "../cards/Card.astro"
const { class: className, id: id, mealsForPage = [] } = Astro.props

// Use the paginated meals passed as props
const mealsToDisplay = mealsForPage.length > 0 ? mealsForPage : []

console.log("Displaying meals:", mealsToDisplay.length)
---

<div
  class="meals-container w-full flex flex-wrap justify-center items-stretch px-4 py-10 gap-8"
>
  {
    mealsToDisplay.length > 0 ? (
      mealsToDisplay.map((mealCard) => (
        <Card
          isMealCard={true}
          isCardHeading={true}
          class={mealCard.class}
          id={mealCard.idMeal}
          src={mealCard.strMealThumb}
          headingText={mealCard.strMeal}
          paragraphText={mealCard.strArea}
          buttonText="See Recipe"
          href={`/meal/${mealCard.idMeal}`}
        />
      ))
    ) : (
      <p>No meals found</p>
    )
  }
</div>
