---
import AuthBar from "../auth_animations/AuthBar.astro"
const {
  class: className,
  id: id,
  buttonText,
  isSignOutButton,
  isNotificationButton,
  isDislikeMealButton,
  popovertarget,
  isMealInteractionButton,
  dataAction,
  isFormButton,
  isDialogCloseButton,
  type,
} = Astro.props
---
{
  isSignOutButton ? (
    <button
      class="bg-[var(--secondary-text-color)] p-2 text-sm rounded-md text-white w-fit cursor-pointer"
      id={id}
    >
      {buttonText}
    </button>
  ) : isNotificationButton ? (
    <button
      class="relative grid place-content-center my-4 bg-[var(--notification-button-bg-color)] text-[var(--notification-button-text-color)] shadow-md h-[40px] w-[40px] p-4 rounded-full cursor-pointer"
      popovertarget={popovertarget}
    >
      <slot />
    </button>
  ) : isDislikeMealButton ? (
    <button class="peer grid place-content-center absolute top-4 right-4 h-10 w-10 bg-white rounded-full cursor-pointer group">
      <div class="transition-opacity duration-400 ease-in group-hover:opacity-0 group-hover:invisible flex items-center justify-center">
        <i class="fa-solid fa-heart text-xl pointer-events-none text-[var(--secondary-text-color)]" />
      </div>
      <div class="absolute inset-0 opacity-0 invisible transition-opacity duration-400 ease-in group-hover:opacity-100 group-hover:visible flex items-center justify-center">
        <i class="fa-solid fa-heart-broken text-xl pointer-events-none text-[var(--secondary-text-color)]" />
      </div>
    </button>
  ) : isMealInteractionButton ? (
    <button
      class="disabled-interaction-button meal-interaction-button flex flex-col text-[var(--secondary-text-color)] cursor-pointer transition-opacity duration-150 ease-in hover:opacity-85"
      data-action={dataAction}
    >
      <slot />
    </button>
  ) : isFormButton ? (
    <button
      class="form-button relative overflow-hidden bg-(--secondary-text-color) h-fit w-full text-center text-white py-1 uppercase rounded-md my-2 cursor-pointer transition-opacity duration-150 ease-in hover:opacity-95"
      type={type}
    >
      {/* <AuthBar class="w-0" id="auth_bar"/> */}
      <span class="relative z-20">{buttonText}</span>
    </button>
  ) : isDialogCloseButton ? (
    <button
      class=`${className} dialog-close-button absolute top-3 right-3 text-white cursor-pointer text-2xl focus:outline-0 focus:ring-0`}
      id={id}
    >
      <i class="fas fa-times" />
    </button>
  ) : (
    <button class={className} id={id}>
      {buttonText}
      <slot />
    </button>
  )
}
<script>
  const dialogCloseButton = document.querySelector(".dialog-close-button")
  dialogCloseButton?.addEventListener("click", (e) => closeDialog(e))
  function closeDialog(e) {
    e.target.closest("dialog").close()
  }
</script>