---
const { class: className, id: id, variant, paragraphText } = Astro.props

const paragraphVariants = {
  hero_paragraph: "text-center text-lg text-white md:text-xl min-w-[300px]",
  card_paragraph: "mb-8 line-clamp-4",
}
---

<p class={`${paragraphVariants[variant]}`}>
  <slot />
</p>

<!-- ---
const {
  class: className,
  id: id,
  isHeroParagraph,
  paragraphText,
  isCardParagraph,
  isCommentCardParagraph,
} = Astro.props
---

{
  isHeroParagraph ? (
    <p class="mt-6 mb-8 text-center text-lg text-white md:text-xl">
      {paragraphText}
    </p>
  ) : isCardParagraph ? (
    <p class="mb-8 line-clamp-4">{paragraphText}</p>
  ) : isCommentCardParagraph ? (
    <p>{paragraphText}</p>
  ) : (
    <p class={className} />
  )
} -->
