---
const { class: className, id: id, href, target, variant } = Astro.props

const baseLinkClasses = "cursor-pointer"

const linkVariants = {
  single_view_link:
    "absolute top-3 left-3 text-[var(--secondary-text-color)] text-2xl text-white z-[100001] cursor-pointer transition-text duration-150 ease-in hover:text-[var(--secondary-text-color)]",

  register_link:
    "text-white border-b-2 border-white transition-all duration-100 ease-in hover:text-(--secondary-text-color) hover:border-(--secondary-text-color)",

  meal_card_link:
    "bg-(--secondary-text-color) mt-auto w-fit py-2 px-4 text-white rounded-md transition-opacity duration-150 hover:opacity-90",

  pagination_link:
    "prev-btn flex items-center gap-2 px-4 py-2 bg-[#123abc] text-white rounded-md",

  back_to_meal_overview_link:
    "absolute top-3 left-3 text-(--secondary-text-color) text-2xl cursor-pointer",

  dashbord_overlay_link:
    "text-white bg-(--secondary-text-color) px-4 py-3 rounded-md text-xl cursor-pointer transition-opacity duration-150 ease-in hover:opacity-85",

  hero_link:
    "block bg-(--secondary-text-color) mt-3 mx-auto w-fit py-2 px-4 text-white rounded-md transition-opacity duration-150 hover:opacity-90",

  meal_card_link:
    "block w-fit px-4 py-2 mt-auto rounded-md bg-(--secondary-text-color) text-white"
}
---

<a
  href={href}
  target={target}
  class={`${baseLinkClasses} ${linkVariants[variant]} ${className}`}
>
  <slot />
</a>
