---
import Heading from "../headings/Heading.astro"
import Section from "./Section.astro"
import IngredientsList from "../lists/IngredientsList.astro"
import CookingInstructionsList from "../lists/CookingInstructionsList.astro"
import VideoPlayer from "../video_players/VideoPlayer.astro"
const {
  class: className,
  id,
  headingText,
  ingredients,
  meal,
  videoId,
} = Astro.props
---

<Section class={className} id={id}>
  <div class="mt-6">
    <Heading isSingleViewSubHeading={true} headingText={headingText} />
    <div class="flex flex-col md:flex-row gap-6">
      <!-- Left column: Ingredients + Instructions -->
      <div>
        <IngredientsList meal={meal} ingredients={ingredients} />
        <CookingInstructionsList meal={meal} />
      </div>
      <!-- Right column: Video -->
      <div class="flex-0 md:flex-1/2">
        {
          videoId && (
            <VideoPlayer
              videoId={videoId}
              videoTitle={meal.strMeal}
              videoSrc={meal.strYoutube}
              videoPoster={meal.strMealThumb}
            />
          )
        }
      </div>
    </div>
  </div>
</Section>
