---
import NavToggleButton from "../buttons/NavToggleButton.astro"
const { class: className, id: id, navItems = [], isLoggedIn } = Astro.props
---

<nav
  class={`${className} main-nav fixed bg-transparent inset-0 bg-[var(--navigation-bg-color)] z-[1000000]
            transition-[clip-path] duration-500 ease-in-out`}
  id="main_nav"
>
  <NavToggleButton />

  <span
    class="absolute
        top-1/2
        left-1/2
        text-center
        text-[8vw]
        px-4
        uppercase
        font-bold
        w-screen
        whitespace-nowrap
        tracking-[.2em]
        opacity-0
        transition-opacity
        duration-300
        pointer-events-none hidden md:block"
    style="color: var(--secondary-text-color);"
    id="navigation_bg_text"></span>

  <ul class="flex flex-col items-center justify-center h-full gap-7 z-[10000]">
    {
      navItems.map((navItem, index) => (
        <li key={index} class="nav-list-item uppercase text-4xl">
          <a
            href={navItem.href}
            data-bg-text={navItem.text}
            data-requires-auth={navItem.isRequiringAuth ? "true" : "false"}
          >
            {navItem.text}
          </a>
        </li>
      ))
    }

    <a href="/dashboard">
      <img
        class="absolute bottom-5 left-[50%] -translate-x-[50%] h-[60px] w-[60px] object-cover rounded-full border-2 border-(--secondary-text-color) cursor-pointer transition-opacity duration-100 ease-in hover:opacity-90"
        id="user_nav_avatar"
      />
    </a>
  </ul>
</nav>

<style>
  #main_nav {
    /* Increase radius so button fits */
    clip-path: circle(40px at calc(100% - 32px - 15px) calc(32px + 35px / 2));
    transition:
      clip-path 0.5s ease-in-out,
      background-color 0.3s ease-in-out;
  }

  /* Open state: full-screen circle with background */
  #main_nav.open {
    clip-path: circle(150% at 50% 50%);
    background-color: var(--navigation-bg-color);
  }

  .nav-list-item {
    animation: navItemsFadeIn 2s ease-out forwards var(--delay, 0s);
  }
</style>

<script>
  import { supabaseClient } from "../../js/supabase/supabase_client"

  const navigationBackgroundText = document.querySelector<HTMLElement>(
    "#navigation_bg_text",
  )
  const navItems = document.querySelectorAll(".nav-list-item")
  const navigationLinksData = document.querySelectorAll(
    "nav ul li [data-bg-text]",
  )

  const session = (await supabaseClient.auth.getSession()).data.session
  const isLoggedIn = !!session
  const avatar = document.querySelector<HTMLElement>("#user_nav_avatar")

  /* TOGGLE NAVIGATION BACKGROUND TEXT */
  navigationLinksData.forEach((navigationLinkData) => {
    navigationLinkData.addEventListener("mousemove", (e) =>
      moveBackgroundText(e),
    )

    // Call showNavigationBackgroundText
    navigationLinkData.addEventListener("mouseenter", () =>
      showNavigationBackgroundText(navigationLinkData),
    )

    // Call hideNavigationBackgroundText
    navigationLinkData.addEventListener("mouseleave", () =>
      hideNavigationBackgroundText(navigationBackgroundText),
    )
  })

  // Show Navigation Background Text
  function showNavigationBackgroundText(navigationLinkData) {
    navigationBackgroundText.textContent = navigationLinkData.dataset.bgText
    navigationBackgroundText.classList.add("show-nav-bg-text")
  }

  // Hide Navigation Background Text
  function hideNavigationBackgroundText(navigationBackgroundText) {
    navigationBackgroundText.textContent = ""
    navigationBackgroundText.classList.remove("show-nav-bg-text")
  }

  // Move Background Element
  function moveBackgroundText(e) {
    const xPosCursor = e.clientX
    const yPosCursor = e.clientY
    const viewportXCenter = window.innerWidth / 2
    const viewportYCenter = window.innerHeight / 2

    // Calculate offset from center and dampen the movement
    const xOffset = (xPosCursor - viewportXCenter) / 20
    const yOffset = (yPosCursor - viewportYCenter) / 20

    navigationBackgroundText.style.transform = `translate(calc(-50% - ${xOffset}px), calc(-50% - ${yOffset}px))`
  }

  // Display links based on login state
  async function displayLinksBasedOnLoginState() {
    // 2. Select all auth-required links
    const links = document.querySelectorAll("[data-requires-auth]")

    // 3. Show/hide items
    links.forEach((link) => {
      const requiresAuth = link.dataset.requiresAuth === "true"
      const li = link.closest(".nav-list-item")

      if (requiresAuth && !isLoggedIn) {
        li.style.display = "none"
      } else {
        li.style.display = ""
      }
    })
  }

  // Handle avatar
  async function handleAvatarDisplay() {
    const {
      data: { session },
    } = await supabaseClient.auth.getSession()
    const isLoggedIn = !!session
    const avatar = document.querySelector<HTMLImageElement>("#user_nav_avatar")

    if (!avatar) return

    if (isLoggedIn) {
      const avatarUrl = session.user.user_metadata?.avatar_url

      if (avatarUrl) {
        avatar.src = avatarUrl
      } else {
        // fallback if no avatar in metadata
        avatar.src =
          "https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg"
      }

      avatar.style.display = ""
    } else {
      avatar.style.display = "none"
    }
  }
  displayLinksBasedOnLoginState()
  handleAvatarDisplay()

  supabaseClient.auth.onAuthStateChange(() => {
    displayLinksBasedOnLoginState()
    handleAvatarDisplay()
  })
</script>
