---
const {
  class: className,
  id: id,
  isHeroHeading,
  headingText,
  isCardHeading,
  isSingleViewHeroHeading,
  isSingleViewSubHeading,
  isDashboardHeading,
  greetingText,
  username,
  isDashboardSectionHeading,
  isLikedMealCardHeading,
  href,
} = Astro.props
---

{
  isHeroHeading ? (
    <header class="text-white text-4xl md:text-6xl whitespace-nowrap">
      {headingText}
    </header>
  ) : isCardHeading ? (
    <header class="text-[var(--primary-text-color)] text-lg uppercase font-semibold tracking-wide mt-3 mb-2">
      {headingText}
    </header>
  ) : isSingleViewHeroHeading ? (
    <h2 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-3xl z-[10000] md:text-4xl text-center">
      {headingText}
    </h2>
  ) : isSingleViewSubHeading ? (
    <h2 class="text-[var(--singleview-subheading-text-color)] text-3xl">
      {headingText}
    </h2>
  ) : isDashboardHeading ? (
    <h2 class="text-[var(--singleview-subheading-text-color)] text-2xl">
      <span>{greetingText}, </span>
      <span>{username}!</span>
    </h2>
  ) : isDashboardSectionHeading ? (
    <h2 class="text-[var(--singleview-subheading-text-color)] mb-3 text-3xl">
      {headingText}
    </h2>
  ) : isLikedMealCardHeading ? (
    <h3 class="absolute -bottom-[210px] h-full w-full text-center bg-white text-var(--secondary-text-color) px-2 py-2 transition-all duration-200 ease-in-out group-hover:-bottom-[80px]">
      <a
        href={href}
        class="text-[var(--secondary-text-color)] block truncate transition-all duration-200 ease-in-out
         group-hover:whitespace-normal hover:underline hover:decoration-2 cursor-pointer"
      >
        {headingText}
      </a>
    </h3>
  ) : (
    ""
  )
}
