---
import UserInfoAndNotificationSection from "../components/sections/UserInfoAndNotificationSection.astro"
import LikedMealsSection from "../components/sections/LikedMealsSection.astro"

import Layout from "../layouts/Layout.astro"

const likedMeals = [
  {
    src: "https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg",
    href: "#",
    headingText: "Something",
  },
]
---

<Layout title="Dashboard">
  <UserInfoAndNotificationSection />

  <!-- Liked Meals & Comments -->
  <div class="mt-12 flex flex-col gap-20">
    <LikedMealsSection likedMeals={likedMeals} />
  </div>
</Layout>

<script>
  import { supabaseClient } from "../js/supabase/supabase_client"
  import { formatGreeting } from "../js/utils/formatters"

  const dashboardHeading = document.querySelector("#dashboard_heading")
  const userProfileImage = document.querySelector("#user_profile_image")

  // Auth handling
  const {
    data: { user },
  } = await supabaseClient.auth.getUser()

  const username = user?.user_metadata.username || "User"

  if (username) {
    document.title =
      `${formatGreeting()}, ${username}!` || "Login to access your dashboard!"

    dashboardHeading.textContent = `${formatGreeting()}, ${username}!`
    userProfileImage.src = user?.user_metadata.avatar_url
  }
</script>
