---
import { formatGreeting } from "../../js/utils/formatters.js"
import Heading from "../headings/Heading.astro"
import Button from "../buttons/Button.astro"

const { class: className, id: id, src } = Astro.props

const greetingText = formatGreeting()
---

<article class={`${className}`} id={id}>
  <div class="flex items-center gap-6">
    <img
      src={src}
      class="h-[100px] w-[100px] object-cover rounded-full"
      id="user_profile_image"
    />
    <div class="flex flex-col gap-3">
      <Heading isDashboardHeading={true} id="dashboard_heading" />
      <Button isSignOutButton={true} buttonText="Sign out" id="sign_out_btn" />
    </div>
  </div>
</article>

<script>
  import { signOutUser } from "../../js/supabase/supabase_methods"

  const signOutButton = document.querySelector("#sign_out_btn")
  signOutButton?.addEventListener("click", signOutUser)
</script>
