---
import Popover from "./Popover.astro"
import { fetchNotifications } from "../../js/supabase/supabase_methods.js"
import { createSupabaseServerClient } from "../../js/supabase/supabase_server_client.js"
import { formatDate } from "../../js/utils/formatters"
import {
  getNotificationLink,
  getNotificationText,
} from "../../js/utils/notifications_content_helper_methods"

const supabaseServerClient = createSupabaseServerClient(Astro.cookies)

const {
  data: { session },
  error: sessionError,
} = await supabaseServerClient.auth.getSession()

const currentUserId = session?.user?.id

const notifications = currentUserId
  ? await fetchNotifications(supabaseServerClient, currentUserId)
  : []
---

<Popover popovertarget="notifications_list" class="notifications-list">
  <ul
    class="notifications-list-popover bg-(--notifications-list-bg-color) border-2 border-(--secondary-text-color) h-[300px] max-w-[300px] w-full rounded-lg text-white overflow-scroll hidden z-[10000]"
  >
    {
      notifications.length > 0 ? (
        notifications.map((notification, index) => (
          <li
            key={index}
            class="notification flex items-start gap-3 p-3 cursor-pointer border-b-2 border-(--secondary-text-color) last:border-0 hover:bg-white/10"
          >
            <a
              href={getNotificationLink(notification)}
              class="flex items-start gap-3 p-3 cursor-pointer block"
              data-notification-id={notification.id}
            >
              <div class="flex flex-col gap-2">
                <div class="flex flex-col items-start justify-between mb-3">
                  <p
                    class={`${!notification.is_read ? "text-(--secondary-text-color)" : ""} text-sm font-medium  whitespace-nowrap`}
                  >
                    {notification.actor.user_name}
                    {getNotificationText(
                      notification.interaction_type,
                      notification.target_object_type,
                    )}
                  </p>
                  <div class="flex flex-col items-start gap-1">
                    <span class="text-xs text-gray-400">
                      {formatDate(notification.created_at)}
                    </span>
                  </div>
                </div>

                <div class="flex justify-between w-full">
                  <div class="flex-1">
                    {notification.target_object_type === "comment" ? (
                      <p class="text-sm text-gray-500 truncate overflow-hidden text-ellipsis whitespace-normal mt-2">
                        <q class="block italic">{notification.comment.body}</q>
                      </p>
                    ) : null}
                  </div>

                  {!notification.is_read ? (
                    <span class="self-center shrink-0 w-2 h-2 bg-(--secondary-text-color) rounded-full" />
                  ) : null}
                </div>
              </div>
            </a>
          </li>
        ))
      ) : (
        <li class="p-3 text-center text-sm text-gray-400">No notifications</li>
      )
    }
  </ul>
</Popover>

<script>
  import { supabaseClient } from "../../js/supabase/supabase_client"
  import {
    updateIsRead,
    fetchSingleNotification,
  } from "../../js/supabase/supabase_methods"
  import {
    createNotificationsListLI,
    updateNotificationsCounter,
  } from "../../js/supabase/realtime_dom_helper_methods.js"

  const notificationsList = document.querySelector(
    ".notifications-list-popover",
  )

  notificationsList?.addEventListener("click", (e) => handleIsRead(e))

  async function handleIsRead(e) {
    const target = e.target.closest("a[data-notification-id]")

    if (!target) {
      return
    }

    const notificationId = target.dataset.notificationId

    const result = await updateIsRead(supabaseClient, notificationId)
  }

  // Setup realtime subscription
  async function setupRealtimeNotifications() {
    const {
      data: { session },
    } = await supabaseClient.auth.getSession()

    const currentUserId = session?.user?.id

    if (!currentUserId) {
      return
    }

    // INSERT
    const notificationsInsertChannel = supabaseClient
      .channel("notifications-insert-channel")
      .on(
        "postgres_changes",
        {
          event: "INSERT",
          schema: "public",
          table: "notifications",
          filter: `recipient_id=eq.${currentUserId}`,
        },
        (payload) => {
          handleNewNotification(payload.new)
        },
      )
      .subscribe()

    // DELETE
    const notificationsDeleteChannel = supabaseClient
      .channel("notifications-delete-channel")
      .on(
        "postgres_changes",
        {
          event: "DELETE",
          schema: "public",
          table: "notifications",
          filter: `recipient_id=eq.${currentUserId}`,
        },
        (payload) => {
          console.log("Notification deleted: ", payload.old)
          handleDeleteNotification(payload.old)
        },
      )
      .subscribe()
  }

  async function handleDeleteNotification(notificationFromRealtime) {
    if (!notificationsList) {
      return
    }

    // Fetch the complete notification with all joins
    try {
      const fullNotification = await fetchSingleNotification(
        supabaseClient,
        notificationFromRealtime.id,
      )

      const newNotificationLI = createNotificationsListLI(
        "notification flex items-start gap-3 p-3 cursor-pointer border-b-2 border-(--secondary-text-color) last:border-0 hover:bg-white/10",
        `notification-${fullNotification.id}`,
        fullNotification,
      )

      notificationsList.prepend(newNotificationLI)

      const notificationsCounter = document.querySelector(
        "#notification_counter",
      )
      const notificationCounterValue = parseInt(
        notificationsCounter?.textContent || "0",
      )
      updateNotificationsCounter(notificationCounterValue + 1)
    } catch (error) {
      console.error("Error handling notification: ", error)
    }
  }

  const handleNotificationDelete = (deletedNotification) => {
    if (!notificationsList) {
      return
    }

    // Remove the corresponding notification
    const notificationLi = document.querySelector(
      `notification-${deletedNotification.id}`,
    )

    if (notificationLi) {
      console.log("Removing notification from DOM: ", deletedNotification.id)

      notificationLi.remove()

      // Update notifications counter
      const notificationCounterValue = parseInt(
        notificationsCounter?.textContent || "0",
      )
      updateNotificationsCounter(notificationCounterValue - 1)
    } else {
      console.warn("Notification LI not found in DOM: ", deletedNotification)
    }
  }

  // Initialize realtime
  setupRealtimeNotifications()
</script>
