---
import Layout from "./Layout.astro"
import Hero from "../components/heroes/Hero.astro"
import CookingInstructionSection from "../components/sections/CookingInstructionSection.astro"
import { getYouTubeId } from "../js/utils/ids_extractors.js"
import MealInteractionSection from "../components/sections/MealInteractionSection.astro"
import CommentsSection from "../components/sections/CommentsSection.astro"
import Dialog from "../components/dialogs/Dialog.astro"
import Form from "../components/forms/Form.astro"
import Link from "../components/links/Link.astro"
import Overlay from "../components/overlays/Overlay.astro"
import Heading from "../components/headings/Heading.astro"
import { supabaseClient } from "../js/supabase/supabase_client"
import Paragraph from "../components/paragraphs/Paragraph.astro"
import Button from "../components/buttons/Button.astro"
import MealRatingsInput from "../components/meal_rating/MealRatingsInput.astro"
const { meal, title, src, headingText, alt, target } = Astro.props

// Extract the YouTube video ID here inside the layout
const videoId = getYouTubeId(meal.strYoutube)

const mealInteractionButtons = [
  {
    iconClass: "fa-solid fa-heart",
    mealInteractionButtonText: "Like",
    dataAction: "like",
  },
  {
    iconClass: "fa-solid fa-comment",
    mealInteractionButtonText: "Comment",
    dataAction: "comment",
  },
]
---

<Layout title={title}>
  <Hero variant="single_view">
    <!-- Background -->
    <img
      slot="background"
      src={src}
      alt={alt}
      class="absolute inset-0 w-full h-full object-cover rounded-md"
    />

    <!-- Overlay -->
    <Overlay slot="overlay" />

    <!-- Backlink -->
    <Link
      slot="backlink"
      href="/meals"
      class="text-white z-[10000] transition-text duration-150 ease-in hover:text-(--secondary-text-color)"
    >
      <i class="fas fa-arrow-left"></i>
    </Link>

    <!-- Centered heading/content -->
    <Heading variant="hero">
      {headingText}
    </Heading>
  </Hero>

  <CookingInstructionSection
    headingText={`What you need for ${meal.strMeal}`}
    meal={meal}
    ingredients={meal.ingredients}
    videoId={videoId}
  />

  <!-- Comments Section -->
  <CommentsSection mealId={meal.idMeal} />

  <!-- Meal Interaction Section -->
  <MealInteractionSection mealInteractionButtons={mealInteractionButtons} />

  <!-- Meal Comment Dialog -->
  <Dialog
    class="comment-meal-dialog"
    id="meal_comment_dialog"
    variant="success"
  >
    <Form variant="comment" id="submit_comment_form" slot="form" />
  </Dialog>

  <!-- Edit Meal Comment Dialog -->
  <Dialog id="edit_comment_dialog" variant="success" isClosableDialog={true}>
    <Form
      variant="edit_comment"
      id="edit_comment_form"
      slot="form"
      isDialogForm={true}
    >
      <MealRatingsInput maxStars={5} />
    </Form>
  </Dialog>

  <!-- Confirm Delete Meal Comment Dialog -->
  <Dialog
    variant="danger"
    id="confirm_delete_meal_comment_dialog"
    isClosableDialog={true}
  >
    <Heading slot="title">
      <h2>Confirm Comment Deletion</h2>
    </Heading>
    <Paragraph
      slot="dialog-body-text"
      variant="dialog_paragraph"
      data-role="delete_meal_comment_confirm_modal"
    >
      <p class="text-white" id="delete_meal_comment_confirm_message"></p>
    </Paragraph>
    <div
      class="action-buttons-container flex flex-col justify-center gap-4 md:flex-row"
      slot="actions"
    >
      <Button
        variant="dialog_action_button"
        class="bg-red-400"
        data-action="delete-meal-comment"
        id="confirm_delete_meal_comment_button"
      >
        Delete Comment
      </Button>
      <Button
        variant="dialog_action_button"
        class="bg-red-400"
        id="cancel_delete_meal_comment_button"
      >
        Cancel
      </Button>
    </div>
  </Dialog>
</Layout>
