---
import Layout from "./Layout.astro"
import Hero from "../components/heroes/Hero.astro"
import CookingInstructionSection from "../components/sections/CookingInstructionSection.astro"
import { getYouTubeId } from "../js/utils/ids_extractors.js"
import MealInteractionSection from "../components/sections/MealInteractionSection.astro"
import CommentsSection from "../components/sections/CommentsSection.astro"
import Dialog from "../components/dialogs/Dialog.astro"
import Form from "../components/forms/Form.astro"
import Link from "../components/links/Link.astro"
import Overlay from "../components/overlays/Overlay.astro"
import { supabaseClient } from "../js/supabase/supabase_client"

const { meal, title, src, headingText, alt, target } = Astro.props

// Extract the YouTube video ID here inside the layout
const videoId = getYouTubeId(meal.strYoutube)

const mealInteractionButtons = [
  {
    iconClass: "fa-solid fa-heart",
    mealInteractionButtonText: "Like",
    dataAction: "like",
  },
  {
    iconClass: "fa-solid fa-comment",
    mealInteractionButtonText: "Comment",
    dataAction: "comment",
  },
  {
    iconClass: "fa-solid fa-plus",
    mealInteractionButtonText: "Meal plan",
    dataAction: "add",
  },
]

const commentFormInputs = [
  {
    type: "text",
    placeholder: "Comment title",
  },
]
---

<Layout title={title}>
  <Hero variant="single_view">
    <!-- Background -->
    <img
      slot="background"
      src={src}
      alt={alt}
      class="absolute inset-0 w-full h-full object-cover"
    />

    <!-- Overlay -->
    <Overlay slot="overlay" class="absolute inset-0 opacity-25 bg-dark/50" />

    <!-- Backlink -->
    <Link slot="backlink" href="/meals" class="text-white z-[10000]">
      <i class="fas fa-arrow-left"></i>
    </Link>

    <!-- Centered heading/content -->
    <h2 class="text-white text-3xl md:text-4xl z-40 text-center">
      {headingText}
    </h2>
  </Hero>

  <!-- <Hero variant="single_view">
    <img
      slot="background"
      src={src}
      alt={alt}
      class="absolute inset-0 w-full h-full object-cover"
    />

    <h2 class="text-white text-3xl md:text-4xl z-20 text-center">
      {headingText}
    </h2>
  </Hero> -->

  <!-- <Hero
    isSingleViewHero={true}
    src={src}
    alt={alt}
    href="/meals"
    isSingleViewHeroLink={true}
    headingText={headingText}
  /> -->
  <CookingInstructionSection
    headingText={`What you need for ${meal.strMeal}`}
    meal={meal}
    ingredients={meal.ingredients}
    videoId={videoId}
  />

  <!-- Comments Section -->
  <CommentsSection headingText="Comments" isSingleViewSubHeading={true} />

  <MealInteractionSection mealInteractionButtons={mealInteractionButtons} />

  <!-- Meal Comment Dialog -->
  <Dialog
    class="comment-meal-dialog"
    id="meal_comment_dialog"
    variant="success"
  >
    <Form
      variant="comment"
      id="submit_comment_form"
      inputs={commentFormInputs}
    />
  </Dialog>
</Layout>
