---
import Button from "../buttons/Button.astro"
import Heading from "../headings/Heading.astro"

const {
  class: className = "",
  id,
  headingText,
  isClosableDialog = false,
  variant = "danger", // "success" | "danger"
} = Astro.props

const baseDialogClasses = `
  fixed top-1/2 left-1/2
  -translate-x-1/2 -translate-y-1/2
  bg-(--modal-bg-color)
  min-w-[40vw] max-w-[500px]
  px-8 py-4
  rounded-md border-2
  z-[10000000]
`

const borderVariants = {
  success: "border-(--secondary-text-color)",
  danger: "border-red-400",
  borderless: "border-0",
}

const openStateClasses = `
  [open]:top-[100%]
  [open]:left-1/2
`
---

<dialog
  id={id}
  class={`
    ${baseDialogClasses}
    ${borderVariants[variant]}
    ${openStateClasses}
    ${className}
  `}
>
  {isClosableDialog && <Button isDialogCloseButton />}

  <div class="flex h-full flex-col gap-4">
    {
      headingText && (
        <Heading variant="dialog">
          <h2 slot="title">Delete concert</h2>
        </Heading>
      )
    }
  </div>

  <!-- BODY -->
  <div class="flex-1">
    <slot />
  </div>

  <!-- ACTIONS -->
  <div>
    <slot name="actions" />
  </div>
</dialog>

<style>
  dialog[open]::backdrop {
    backdrop-filter: blur(5px);
  }
</style>
