---
import Button from "../buttons/Button.astro"
import Heading from "../headings/Heading.astro"
import Paragraph from "../paragraphs/Paragraph.astro"

const {
  class: className = "",
  id,
  isClosableDialog = false,
  variant = "danger",
} = Astro.props

const baseDialogClasses = `
  fixed top-1/2 left-1/2
  -translate-x-1/2 -translate-y-1/2
  bg-(--modal-bg-color)
  min-w-[320px] max-w-[500px]
  px-8 py-4
  rounded-md border-2
  z-[10000000]
`

const borderVariants = {
  success: "border-(--secondary-text-color)",
  danger: "border-red-400",
  borderless: "border-0",
}

const openStateClasses = `
  [open]:top-[100%]
  [open]:left-1/2
`

const dialogVariants = {
  liked_meal_dialog: "text-white",
}

// Split variant string into array and map to classes
const variants = variant.split(" ")
const borderClasses = variants
  .map((v) => borderVariants[v])
  .filter(Boolean)
  .join(" ")
const dialogClasses = variants
  .map((v) => dialogVariants[v])
  .filter(Boolean)
  .join(" ")
---

<dialog
  id={id}
  class={`
    ${baseDialogClasses}
    ${borderClasses}
    ${openStateClasses}
    ${dialogClasses}
    ${className}
  `}
>
  {
    isClosableDialog ? (
      <Button
        variant="dialog_close_button"
        class="dialog-close-button text-white"
      >
        <i class="fas fa-times" />
      </Button>
    ) : null
  }

  <div class="flex flex-col h-full">
    <!-- HEADING - stays at top -->
    <Heading variant="dialog_heading">
      <slot name="title" />
    </Heading>

    <!-- BODY -->
    <div class="flex-1 flex items-center justify-center w-full h-full my-8">
      <slot name="form" />
      <Paragraph variant="dialog_paragraph">
        <slot name="dialog-body-text" />
      </Paragraph>
    </div>

    <!-- ACTIONS -->
    <div class="w-full">
      <slot name="actions" />
    </div>
  </div>
</dialog>

<style>
  dialog[open]::backdrop {
    backdrop-filter: blur(5px);
  }
</style>

<script>
  window?.addEventListener("click", (e) => closeDialog(e))

  function closeDialog(e) {
    if (e.target.classList.contains("dialog-close-button")) {
      e.target.closest("dialog").close()
    }
  }
</script>
