---
import Heading from "../headings/Heading.astro"
import Button from "../buttons/Button.astro"

const { class: className, id, type, inputs = [], labelText, headingText, isSubmitButton} = Astro.props
---

<form
  class={`${className} border-2 border-(--secondary-text-color) min-h-[350px] h-fit min-w-[300px] w-fit p-4 rounded-md`}
>
  <Heading isFormHeading={true} headingText={headingText || 'No heading'} />

  {
    inputs.length > 0 ? (
      inputs.map((input) => (
        <div class="flex flex-col gap-2">
          <label id={input.id} class="text-(--secondary-text-color) ml-1">{input.labelText}</label>
          {input.type === "text" || input.type === 'email' || input.type === 'password' ? (
            <input
              class={`${input.class} block indent-[5px] border-b-2 border-(--secondary-text-color) text-(--secondary-text-color) w-full mb-6 focus:ring-0 focus:outline-0`}
              id={input.id}
              type={input.type}
              placeholder={input.placeholder}
            />
          ) : null}
        </div>
      ))
    ) : (
      <p>No inputs</p>
    )
  }

{
  isSubmitButton ?? (<Button type="submit" buttonText="Register" isFormButton={true} />)
}
</form>
