---
import Heading from "../headings/Heading.astro"
import Button from "../buttons/Button.astro"
import { formVariants } from "../../js/utils/form_config"
const { class: className = "", id, variant, isDialogForm = false } = Astro.props
if (!variant) {
  throw new Error("Form component requires a `variant` prop")
}
const formConfig = formVariants[variant]
if (!formConfig) {
  throw new Error(`Unknown form variant: ${variant}`)
}
const { inputs = [], headingText, button } = formConfig
---

<form
  id={id}
  data-variant={variant}
  class={`${className} ${
    isDialogForm
      ? "border-0 bg-transparent"
      : "border-2 border-(--secondary-text-color)"
  } min-h-[350px] h-fit min-w-[80dvw] max-w-[300px] w-fit p-4 rounded-md`}
>
  <Heading variant="form_heading">
    {headingText ?? "No heading"}
  </Heading>
  {
    inputs.length > 0 ? (
      inputs.map((input) => (
        <div class="flex flex-col gap-2">
          <label class="text-white ml-1">{input.labelText}</label>
          {["text", "email", "password"].includes(input.type) && (
            <input
              class={`${
                input.class ?? ""
              } block indent-[5px] border-b-2 border-white
            text-white w-full mb-6
            focus:ring-0 focus:outline-0`}
              type={input.type}
              placeholder={input.placeholder}
              name={input.name}
            />
          )}
          {input.type === "textarea" && (
            <textarea
              name={input.name}
              placeholder={input.placeholder}
              rows={input.rows ?? 4}
              class={`${input.class ?? ""} block p-2 border-b-2 border-white
            rounded-none text-white w-full h-fit mb-6
            focus:ring-0 focus:outline-0 bg-transparent resize-none`}
            />
          )}
          {input.type === "file" && (
            <input
              type="file"
              name={input.name}
              class="block w-full mb-6 text-(--secondary-text-color)
            file:mr-4 file:py-2 file:px-4 file:rounded-md
            file:border-0 file:text-sm
            file:bg-(--secondary-text-color)
            file:text-white file:cursor-pointer hover:file:opacity-85"
            />
          )}
          {input.type === "hidden" && (
            <input type="hidden" name={input.name} value={input.value ?? ""} />
          )}
        </div>
      ))
    ) : (
      <p>No inputs</p>
    )
  }

  <slot />

  {
    button && (
      <Button type={button.type ?? "submit"} variant={button.variant}>
        {button.text}
      </Button>
    )
  }
</form>
